<div id="signin">
  <div id="signin_sidemenu">
  	<div id="signin_form">
      <%= form_tag session_path do -%>
        <fieldset>
        	<legend><h3><%= t("login.sign_in") %></h3></legend>
          <% if @error_message %>
          <div id="error_box">
            <div id="error_message"><%= @error_message %></div>
          </div>
          <% end %>
          <p><%= label_tag t("login.user") %><br />
          <%= text_field_tag 'login', @login %></p>
          <p><%= label_tag t("login.password") %><br />
          <%= password_field_tag 'password', nil %></p>
        </fieldset>
        <p><%= submit_tag 'Login' %></p>
      <% end -%>
  	</div>
  </div>
  <div id="signin_main">
    <iframe src="/sessions/information.html" name="information" width="718" height="496">
    </iframe>
  </div>
</div>
