<div id="notification">
  <div class="title clearfix">
    <h3><%= t("notification.header") %></h3>
    <div class="maincontent">
      <ul id="notifications">
      <% @notifications.each do |notification| %>
      <li><h4><a href="#<%= notification.id %>"><label class="notification_title" for="<%= notification.id %>"><%= notification.title %></label></a></h4>
      <div id="article-<%= notification.id %>" class="article">
      <%= nl2br(notification.article) %>
      </div>
      </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
