<div id="sidemenu">
	<div id="account" style="padding:5px">
			<%= form_for :accounts,:url => accounts_switch_path,:remote => true do |f| %>
				<%= t('sidemenu.change_account') %>：&nbsp;<%= f.select "account_uuid",show_accounts,{:selected => primary_account_id} %>
			<% end %>
	</div>

	<!-- <div id="regionselect"><img src="images/listicon_useast.gif" />US East</div>
	<ul id="regionmenu">
		<li><a href="#" id="list-useast"><img src="images/listicon_useast.gif" />US East</a></li>
	  <li><a href="#" id="list-japan"><img src="images/listicon_useast.gif" />Japan</a></li>
	</ul> -->
	<div class="sidemenu_top"></div><ul class="classify_parent">
		<li class="parent"><h3><img src="images/icon_summary.gif" width="20" height="20" /><%= t("sidemenu.summary.header") %></h3>
			<ul>
				<%= li_link_to_current(t("sidemenu.summary.dashboard"),'home')%>
			</ul>
		</li>
		<li class="parent"><h3><img src="images/icon_instances.gif" width="20" height="20" /><%= t("sidemenu.instances.header") %></h3>
			<ul>
				<%= li_link_to_current(t("sidemenu.instances.instances"),'instances')%>
			</ul>
			<ul>
				<%= li_link_to_current(t("sidemenu.instances.host_pools"),'host_pools')%>
			</ul>
		</li>
		<li class="parent"><h3><img src="images/icon_images.gif" width="20" height="20" /><%= t("sidemenu.images.header") %></h3>
			<ul>
				<%= li_link_to_current(t("sidemenu.images.machine_images"),'images')%>
			</ul>
		</li>
		<li class="parent"><h3><img src="images/icon_blockstore.gif" width="20" height="20" /><%= t("sidemenu.block_store.header") %></h3>
			<ul>
				<%= li_link_to_current(t("sidemenu.block_store.volumes"),'volumes')%>
			</ul>
			<ul>
				<%= li_link_to_current(t("sidemenu.block_store.snapshots"),'snapshots')%>
			</ul>
			<ul>
				<%= li_link_to_current(t("sidemenu.block_store.storage_pools"),'storage_pools')%>
			</ul>
		</li>
		<li class="parent"><h3><img src="images/icon_security.gif" width="20" height="20" /><%= t("sidemenu.network_security.header") %></h3>
			<ul>
				<%= li_link_to_current(t("sidemenu.network_security.security_groups"),'security_groups')%>
			</ul>
			<ul>
				<%= li_link_to_current(t("sidemenu.network_security.key_pairs"),'keypairs')%>
			</ul>
		</li>
		<!-- <li class="parent"><h3><img src="images/icon_information.gif" width="20" height="20" />INFORMATION</h3>
			<ul>
				<%= li_link_to_current('Service Status','information')%>
			</ul>
		</li> -->
	</ul>
	<div class="sidemenu_bottom"></div>
</div>