<div id="sidemenu">
	<div id="account" style="padding:5px">
			<%= form_for :accounts,:url => accounts_switch_path,:remote => true do |f| %>
				<%= t('sidemenu.change_account') %>：&nbsp;<%= f.select "account_uuid",show_accounts,{:selected => primary_account_id} %>
			<% end %>
			<div style="margin-top:10px">
			<%= t('sidemenu.change_language') %>:&nbsp;
     	<%= form_for :select_language, :remote => false, :url => request.url, :html => {:id => :select_language, :method => :get,:style => "display: inline"} do |f| %>
      <%= f.select(:locale, @locales, :selected => @locale) %>
      <% end %>&nbsp;
      </div>
    	
	</div>
  <fieldset>
  <select name="regionmenu" id="regionmenu">
    <option value=""><%= t("selectmenu.select_region") %><%= t("selectmenu.select_region_first") %></option>
 </select>
</fieldset>
	<div class="sidemenu_top"></div><ul class="classify_parent">
		<li class="parent"><h3><img src="/images/icon_summary.gif" width="20" height="20" /><%= t("sidemenu.summary.header") %></h3>
			<ul>
				<%= li_link_to_current(t("sidemenu.summary.dashboard"), 'home', 'index')%>
			</ul>
		</li>
		<li class="parent"><h3><img src="/images/icon_instances.gif" width="20" height="20" /><%= t("sidemenu.instances.header") %></h3>
			<ul>
				<%= li_link_to_current(t("sidemenu.instances.instances"), 'instances', 'index')%>
			</ul>
			<ul>
				<%= li_link_to_current(t("sidemenu.instances.host_nodes"), 'host_nodes', 'index')%>
			</ul>
		</li>
		<li class="parent"><h3><img src="/images/icon_appliance.gif" width="20" height="20" /><%= t("sidemenu.appliances.header") %></h3>
			<ul>
				<%= li_link_to_current(t("sidemenu.appliances.load_balancers"), 'load_balancers', 'index')%>
			</ul>
		</li>

		<li class="parent"><h3><img src="/images/icon_images.gif" width="20" height="20" /><%= t("sidemenu.images.header") %></h3>
			<ul>
				<%= li_link_to_current(t("sidemenu.images.machine_images"), 'machine_images', 'index')%>
			</ul>
		</li>
		<li class="parent"><h3><img src="/images/icon_blockstore.gif" width="20" height="20" /><%= t("sidemenu.block_store.header") %></h3>
			<ul>
				<%= li_link_to_current(t("sidemenu.block_store.volumes"), 'volumes', 'index')%>
			</ul>
			<ul>
				<%= li_link_to_current(t("sidemenu.block_store.backups"), 'backups', 'index')%>
			</ul>
			<ul>
				<%= li_link_to_current(t("sidemenu.block_store.storage_nodes"), 'storage_nodes', 'index')%>
			</ul>
		</li>
		<li class="parent"><h3><img src="/images/icon_security.gif" width="20" height="20" /><%= t("sidemenu.network_security.header") %></h3>
			<ul>
				<%= li_link_to_current(t("sidemenu.network_security.networks"), 'networks', 'index')%>
			</ul>
			<ul>
				<%= li_link_to_current(t("sidemenu.network_security.security_groups"), 'security_groups', 'index')%>
			</ul>
			<ul>
				<%= li_link_to_current(t("sidemenu.network_security.key_pairs"), 'keypairs', 'index')%>
			</ul>
		</li>
        <% if system_manager? %>
		<li class="parent"><h3><img src="/images/system_management.gif" width="20" height="20" /><%= t("sidemenu.system_management.header") %></h3>
			<ul>
				<%= li_link_to_current(t("sidemenu.system_management.users"), 'users', 'index')%>
			</ul>
			<ul>
				<%= li_link_to_current(t("sidemenu.system_management.groups"), 'groups', 'index')%>
			</ul>
			<ul>
				<%= li_link_to_current(t("sidemenu.system_management.resource"), 'resource', 'index')%>
			</ul>
		</li>
        <% end %>
	</ul>
	<div class="sidemenu_bottom">
	</div>
</div>
