<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="keywords" content="あくしゅ,axsh,wakame" />
<meta name="description" content="Wakame UI">
<title>Wakame UI</title>
<%= stylesheet_link_tag :all %>
<%= yield :stylesheet %>
<%= javascript_include_tag 'jquery-1.4.2.min.js' %>
<%= javascript_include_tag 'jsdeferred.jquery.js' %>
<%= javascript_include_tag 'jquery.tmpl.js' %>
<%= javascript_include_tag 'jquery.loadmask.min.js' %>
<%= javascript_include_tag 'jquery-ui-1.8.4.custom.min.js' %>
<%= javascript_include_tag 'dcmgr_gui/core.js' %>
<%= javascript_include_tag 'dcmgr_gui/application.js' %>
<%= yield :javascript %>
<%= csrf_meta_tag %>
<link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
	<div id="head_gradation"></div>
	<div id="content_wrapper">
		<%= render :partial => 'layouts/header' %>
		<div id="content" class="clearfix">
			<%= render :partial => 'layouts/sidemenu' %>
			<%= yield %>
		</div>
		<%= render :partial => 'layouts/footer'%>
	</div>
<%= yield :javascript_template %>
</body>
</html>