<% content_for :javascript do %>
<%= javascript_include_tag 'jquery.jBreadCrumb.1.1.js' %>
<script type="text/javascript">
  jQuery(function($){
    $("#breadCrumb").jBreadCrumb();
  });
</script>
<% end %>
<div id="mainarea_wide">
	<h3><img src="/images/icon_resource.gif" /><%= t("accounts.header") %></h3>
  <div class="maincontent account">
    <div id="breadCrumb" class="breadCrumb module account">
      <ul>
          <li>
              <a href="/accounts"><%= t("accounts.header") %></a>
          </li>
          <li>
              <%= t("accounts.password.header") %> 
          </li>
      </ul>
    </div>
    <div id="password">
   <% form_for :account, :url=>{:action => 'password'}, :html => {:id => "change_password_form"} do |f| %>
     <p><label for="password"><%= t("accounts.password.password") %><span class="required"> *</span></label><br /><input id="password" type="password" value="" name="password"></p>
      <p><label for="new_password"><%= t("accounts.password.new_password") %><span class="required"> * </span></label><br /><input id="new_password" type="password" value="" name="new_password"></p>
      <p><label for="confirm_password"><%= t("accounts.password.confirm_password") %><span class="required"> *</span></label><br /><input id="confirm_password" type="password" value="" name="confirm_password"></p>
    <%= f.submit t("accounts.password.submit") %>
      <% if @error_message %>
        <p><div class="error_message"><%= @error_message %></div></p>
      <% end %>
    <% end %>
    </div>
  </div><!-- maincontent -->
  <div id="btm_maincontent_wide_last"></div>
</div><!-- mainarea_wide -->
