<% content_for :javascript_link_tags do %>
<%= javascript_include_tag ['/assets/jquery/jquery-ui-sliderAccess.js',
                            '/assets/jquery/timepicker/jquery-ui-timepicker-addon.js']
%>
<% end %>

<% content_for :stylesheet_link_tags do %>
<%= stylesheet_link_tag '/assets/jquery/timepicker/jquery-ui-timepicker-addon.css' %>
<% end %>

<div class="span9">
  <p><b>お知らせ新規登録</b></p>
  <form action="/notifications" method="post" class="well form-query">
  <div class="control-group">
    <div class="control-group">
      <label class="control-label">対象</label>
      <label class="radio">
        <input type="radio" name="option_user" id="options_all_user" value="all" placeholder="" checked>全ユーザー
      </label>

      <div class="control form-search">
        <label class="radio">
          <input type="radio" name="option_user" id="option_user" value="assign" placeholder="">
          <div class="controls">
            指定ユーザー<textarea class="input-xlarge" id="users" name="users" rows="5"></textarea>
          </div>
        </label>
      </div>

    </div>

    <div class="control-group form-inline">
      <div class="controls">
        <label class="control-label">掲載期間</label>
        <div class="controls">
          <input type="text" name="publish_date_to" value="<%= @notification.publish_date_to %>" placeholder="2012/01/01 00:00:00" style="text-align:right; width:120px" maxlength="19"> ~
          <input type="text" name="publish_date_from" value="<%= @notification.publish_date_from %>" placeholder="2012/01/01 00:00:00" style="text-align:right; width:120px" maxlength="19">
          </div>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <div class="controls">
        <label class="control-label">タイトル
          <input class="span7" type="text" name="title" value="<%= @notification.title %>">
        </label>
        </div>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <div class="controls">
          <label class="control-label" for="textarea">記事
          <textarea class="span7 input-xlarge" id="textarea" name='article' rows="5"></textarea>
          </label>
        </div>
      </div>
    </div>


    <div class="control-group">
      <div class="controls" style="text-align:right">
        <button type="submit" class="btn" {{action "submit" on="click"}}>確認</button>
        <input type="hidden" value="1" name="confirm">
      </div>
    </div>
  </div>
  </form>
</div>
