<style type="text/css">
	#create_security_group_dialog div {
		padding-top :5px;
		padding-bottom :5px;
	}
</style>
<div id="create_security_group_dialog">
  <div id="security_group_name_field">
    <%- if @uuid -%>
    <p>
    <%= t("dialog.create_and_edit_security_group.uuid")%>: <%= @uuid %>
    </p>
    <%- end -%>
    <input type="hidden" id="security_group_id" value="<%= @uuid %>">
    <div id="security_group_display_name_field">
    <p>
      <%= t("dialog.create_and_edit_security_group.display_name") %>
    </p> 
    <input type="text" id="security_group_display_name" size="43" value="<%= @display_name %>">
    </div>
    <div id="security_group_description_field">
    <p>
      <%= t("dialog.create_and_edit_security_group.description") %>
    </p> 
    <input type="text" id="security_group_description" size="43" value="<%= @description %>">
    </div>
    <div id="security_group_rule_field">
    <p>
      <%= t("dialog.create_and_edit_security_group.rule") %> [<span rel="#rule_help" id="security_group_help" title="Rule Help" style="color:red">?</span>]
    </p>
    </div>
    <textarea id="security_group_rule" rows="10" cols="10" style="width:442px;height:320px" ><%= @rule %></textarea>
  <div id="rule_help">
  <pre>
SYNOPSIS

  "protocol", "from port", "to port",   "source cidr" 
  "protocol", "from port", "to port",   "source account_id:group" 
  "protocol", "icmp type", "icmp code", "source cidr" 
  "protocol", "icmp type", "icmp code", "source account_id:group" 

PARAMETERS

  protocol:
   tcp, udp, icmp

  from port:
   1 .. 65535

  to port:
   1 .. 65535

  icmp type:
   -1 or 0,       3,    5,       8,        11, 12, 13, 14, 15, 16, 17, 18
   '-1' means wild card.

  icmp code:
    -1 or 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15 
   '-1' means wild card.

  source account:group
    ex. a-trustedx:default

  source cidr:
    ex. 0.0.0.0/0, ip4:192.0.2.0/24

   </pre> 
  </div>
</div>
