<style type="text/css">
	table td {
		padding-top :10px;
		padding-left :5px;
	}
</style>
<div id="create_security_group_dialog">
	<table>
		<tr>
			<td><%= t("dialog.create_and_edit_security_group.name") %>:</td>
			<td>
				<% if @name %>
					<%= @name %>
					<input type="hidden" id="security_group_name" value="<%= @name %>">
				<% else %>
					<input type="text" id="security_group_name" size="20"></td>
				<% end %>
				<input type="hidden" id="security_group_id" value="<%= @uuid %>">
		</tr>
		<tr>
			<td><%= t("dialog.create_and_edit_security_group.description") %>:</td>
			<td><input type="text" id="security_group_description" size="43" value="<%= @description %>"></td>
		</tr>
		<tr>
			<td><%= t("dialog.create_and_edit_security_group.rule") %>:</td>
		</tr>
		<tr>
			<td colspan="2">
				<textarea id="security_group_rule" rows="10" cols="10" style="width:442px;height:320px"><%= @rule %></textarea></td>
		</tr>
	</table>
</div>