<style type="text/css">
	table td {
		padding-top :10px;
		padding-left :5px;
	}
</style>
<div id="create_security_group_dialog">
	<table>
		<tr>
			<td><%= t("dialog.create_and_edit_security_group.name") %>:</td>
			<td>
				<% if @name %>
					<%= @name %>
					<input type="hidden" id="security_group_name" value="<%= @name %>">
				<% else %>
					<input type="text" id="security_group_name" size="20">
				<% end %>
				<input type="hidden" id="security_group_id" value="<%= @uuid %>">
		  </td>
    </tr>
		<tr>
			<td><%= t("dialog.create_and_edit_security_group.description") %>:</td>
			<td><input type="text" id="security_group_description" size="43" value="<%= @description %>"></td>
		</tr>
		<tr>
			<td><%= t("dialog.create_and_edit_security_group.rule") %> [<span rel="#rule_help" id="security_group_help" title="Rule Help" style="color:red">?</span>]:</td>
		</tr>
		<tr>
			<td colspan="2">
				<textarea id="security_group_rule" rows="10" cols="10" style="width:442px;height:320px" ><%= @rule %></textarea></td>
		</tr>
	</table>
	<div id="rule_help">
   <pre>
SYNOPSIS

  "protocol", "from port", "to port",   "source cidr" 
  "protocol", "from port", "to port",   "source account_id:group" 
  "protocol", "icmp type", "icmp code", "source cidr" 
  "protocol", "icmp type", "icmp code", "source account_id:group" 

PARAMETERS

  protocol:
   tcp, udp, icmp

  from port:
   1 .. 65535

  to port:
   1 .. 65535

  icmp type:
   -1 or 0,       3,    5,       8,        11, 12, 13, 14, 15, 16, 17, 18
   '-1' means wild card.

  icmp code:
    -1 or 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15 
   '-1' means wild card.

  source account:group
    ex. a-trustedx:default

  source cidr:
    ex. 0.0.0.0/0, 192.168.0.0/24

   </pre> 
  </div>
</div>
