<div id="create_volume_from_backup_dialog">
  <p><%= t("dialog.create_volume_from_backup.message") %></p>
  <br />
  <table id="backups">
    <tr>
      <td class="border"><%= t("dialog.create_volume_from_backup.display_name")%>: </td>
      <td class="border"><input id="backup_display_name" type="text" value=""></td>
    </tr>
    <% @backup_objects.each do |b| %>
    <tr>
      <td><%= t("dialog.create_volume_from_backup.backup_id") %></td>
      <td class="backup_id"><%= b["id"] %></td>
    </tr>
    <tr>
      <td class="border"><%= t("dialog.create_volume_from_backup.backup_display_name") %></td>
      <td class="border"><%= b["display_name"] %></td>
    </tr>
    <% end %>
  </table>
</div>
