<div id="create_network_dialog">
  <table>
    <tr>
      <td><%= t("dialog.create_network.display_name") %>:</td>
      <td><input id="display_name" type="text" name="display_name"></td>
    </tr>
    <tr>
      <td><%= t("dialog.create_network.description") %>:</td>
      <td><input id="description" type="text" name="description"></td>
    </tr>
    <tr>
      <td><%= t("dialog.create_network.domain_name") %>:</td>
      <td><input id="domain_name" type="text" name="domain_name"></td>
    </tr>
    <tr>
      <td><%= t("dialog.create_network.network_mode") %>:</td>
      <td>
	<select id="network_mode" type="text" name="network_mode">
	  <option value="l2overlay">l2overlay</option>
	  <option value="securitygroup">securitygroup</option>
	  <option value="passthru">passthru</option>
	</select>
      </td>
    </tr>
    <tr>
      <td><%= t("dialog.create_network.ipv4_network") %>:</td>
      <td><input id="ipv4_network" type="text" name="ipv4_network"></td>
    </tr>
    <tr>
      <td><%= t("dialog.create_network.ipv4_gw") %>:</td>
      <td><input id="ipv4_gw" type="text" name="ipv4_gw"></td>
    </tr>
    <tr>
      <td><%= t("dialog.create_network.prefix") %>:</td>
      <td><input id="prefix" type="text" name="prefix" value="24"></td>
    </tr>
    <tr>
      <td><%= t("dialog.create_network.ip_assignment") %>:</td>
      <td>
	<select id="ip_assignment" type="text" name="ip_assignment">
	  <option value="asc">ascend</option>
	  <option value="descend">descend</option>
	</select>
      </td>
    </tr>
  </table>
</div>
