<div id="detach_volume_dialog">
  <div class="message">
    <p><%= t("dialog.detach_volume.message") %></p>
  </div>
  <table id="volumes">
    <% @volumes.each do |v| %>
    <tr>
      <td><%= t("dialog.detach_volume.volume_id") %></td>
      <td class="volume_id"><%= v["id"] %></td>
    </tr>
    <tr>
      <td class="border"><%= t("dialog.detach_volume.display_name") %></td>
      <td class="border"><%= v["display_name"] %></td>
    </tr>
    <% end %>
  </table>
</div>
