<script type="text/javascript">
  var select_current_nw = new Array();
  var select_current_vif = new Array();

  <% @vifs.each do |vif| %>
    select_current_nw.push("<%= vif['network_id'] %>");
    select_current_vif.push("<%= vif['vif_id'] %>");
  <% end %>
</script>

<div id="edit_instance_dialog">
  <table>
    <tr>
      <td><%= t("dialog.edit_instance.instance_id")%>: </td>
      <td><%= @instance_id %></td>
      <td><input type="hidden" id="instance_id" value="<%= @instance_id %>"></td>
    </tr>
    <tr>
      <td><%= t("dialog.edit_instance.display_name")%>: </td>
      <td><input id="instance_display_name" type="text" size=43 value="<%= @display_name %>"></td>
    </tr>
  </table>
  
  <br />
  
  <fieldset id="security_group_field">
		<legend><%= t("dialog.edit_instance.security_group") %></legend><legend>
		</legend><table cellspacing="5" cellpadding="5">
		<tbody>
			<tr><th><span id="available_groups"><%= t("dialog.edit_instance.available_groups") %></span></th>
			<th></th>
			<th><span id="assign_groups"><%= t("dialog.edit_instance.groups_to_assign") %></span></th>
		</tr><tr>
		    <td>
		        <select id="left_select_list" size="5" multiple="multiple" name="left_select_list"></select>
		    </td>
				<td id="manipulation">
					<button id="right_button">&gt;</button>
					<br> <br>
					<button id="left_button">&lt;</button>
				</td>
		    <td>
		        <select id="right_select_list" size="5" multiple="multiple" name="right_select_list">
		        </select>
		    </td>
			</tr>
		</tbody>
	</table>
  </fieldset>
  
  <br />
  
  <table>
    <% @vifs.each_index do |index| %>
      <tr>
        <td><%= t("dialog.edit_instance.interface") %> eth<%= index %>:</td>
        <td><%= @vifs[index]["vif_id"] %></td>
        <td id="eth<%= index %>_network_id"></td>
        <td>
          <select id="eth<%= index %>" name="eth<%= index %>">
            <option value="disconnected"></option>
          </select>
        </td>
        <td id="vif_button_eth<%= index %>"></td>
      </tr>
    <% end %>
  </table>

</div>
