<script>
  // file api
jQuery.event.props.push('dataTransfer');

$(function(){
//  $("#inputFile").change(function(){
//    var file = this.files[0];
//    viewFileInfo(file);
//    viewFileContent(file);
//  });
  $("html").bind("drop", function(event){
    event.stopPropagation();
    event.preventDefault();      
    var dt = event.dataTransfer;
    var file = dt.files[0];

    $("#private_key").text("");

    viewFileInfo(file);
    viewFileContent(file);
  });//.bind("dragenter dragover", false);

  function viewFileInfo(file) {
    if (file) {
      $("#key_pair").text(file.name);
    }
  }
  function viewFileContent(file) {
//    if (!window.FileReader) {
//      $("#textViewer").text("NO Support";
//      return;
//    }
    
//    if (file.type.match(/text/)) {
      var reader = new FileReader();
      reader.onload = function(event) {
      var str = event.target.result;
        var str = event.target.result;
        $("#private_key").text(str);
      };
      reader.readAsText(file, "utf-8");

//      }
  }
});
</script>
<div id="get_password_instances_dialog">
  <table>
    <tr>
      <td><%= t("dialog.get_password_instances.instance_id") %></td>
      <td class="instance_id"><%= @instance["id"] %></td>
    </tr>
    <tr>
      <td class="border"><%= t("dialog.get_password_instances.display_name") %></td>
      <td class="border"><%= @instance["display_name"] %></td>
    </tr>
<% login_results = @login[0]
   if @login == nil || @login.length == 0 || login_results["total"] == 0 then %>
    <tr>
      <td colspan="2"><%= t("dialog.get_password_instances.message_not_set") %></td>
    </tr>
<% else 
      
      login_hash = login_results["results"][0] %>
    <tr>
      <td class="border"><%= t("dialog.get_password_instances.user") %>:</td>
      <td class="border"><%= login_hash["username"] %></td>
    </tr>
    <tr>
      <td colspan=2><%= t("dialog.get_password_instances.enc_password") %>:</td>
    </tr>
    <tr>
      <td class="border" colspan=2><textarea name="ciphertext" id="ciphertext" rows=4 cols=70><%= login_hash["encrypted_password"] %></textarea></td>
    </tr>
    <tr>
      <td><%= t("dialog.get_password_instances.private_key") %>:</td>
      <td><dd id="key_pair"></dd></td>
    </tr>
    <tr>
      <td class="border" colspan=2><textarea name="private_key" id="private_key"rows=4 cols=70></textarea></td>
    </tr>
    <tr>
      <td colspan=2><%= t("dialog.get_password_instances.dec_password") %>:</td>
    </tr>
    <tr>
      <td colspan=2><textarea cols="70" rows="1" id="dec_password" readonly></textarea></td>
    </tr>
<% end %>
  </table>
</div>
