<div id="launch_instance_dialog">
	<table>
		<tr>
			<td><%= t("dialog.launch_instance.wmi_id") %>:</td>
			<td id="view_image_id"><%= @image_id %></td>
			<input id="image_id" type="hidden" value="<%= @image_id %>">
		</tr>
		<tr>
			<td><%= t("dialog.launch_instance.display_name") %>:</td>
			<td><input id="display_name" type="text" value=""></td>
		</tr>
		<tr>
			<td><%= t("dialog.launch_instance.host_name") %>:</td>
			<td><input id="host_name" type="text" value=""></td>
		</tr>
		<tr>
			<td><%= t("dialog.launch_instance.instance_spec") %>:</td>
			<td id="select_instance_specs">
			</td>
		</tr>
		<tr>
			<td><%= t("dialog.launch_instance.ssh_key_pair") %>:</td>
			<td id="select_ssh_key_pair"></td>
		</tr>
	</table>

	<fieldset id="security_group_field" class="with_border">
		<legend><%= t("dialog.launch_instance.security_group") %></legend><legend>
		</legend><table cellspacing="5" cellpadding="5">
		<tbody>
			<tr><th><span id="available_groups"><%= t("dialog.launch_instance.available_groups") %></span></th>
			<th></th>
			<th><span id="launch_in"><%= t("dialog.launch_instance.launch_in") %></span></th>
		</tr><tr>
		    <td>
		        <select id="left_select_list" size="5" multiple="multiple" name="left_select_list"></select>
		    </td>
				<td id="manipulation">
					<button id="right_button">&gt;</button>
					<br> <br>
					<button id="left_button">&lt;</button>
				</td>
		    <td>
		        <select id="right_select_list" size="5" multiple="multiple" name="right_select_list">
		        </select>
		    </td>
			</tr>
		</tbody>
	</table>
	</fieldset>
	<br />
		
	<fieldset id="vif_field" class="with_border">
	  <legend><%= t("dialog.launch_instance.vif") %></legend>
	  <table>
            <tbody>
              <tr><td>eth0:</td><td id="select_eth0"></td></tr>
	      <tr><td>eth1:</td><td id="select_eth1"></td></tr>
	      <tr><td>eth2:</td><td id="select_eth2"></td></tr>
	      <tr><td>eth3:</td><td id="select_eth3"></td></tr>
	      <tr><td>eth4:</td><td id="select_eth4"></td></tr>
            </tbody>
          </table>
	</fieldset>
        
	<br />

	<fieldset id="user_data_field" class="with_border">
	<legend><%= t("dialog.launch_instance.user_data") %></legend>
	<table cellspacing="5" cellpadding="5">
		<tbody>
		<tr>
			<td colspan="2">
				<textarea cols="64" rows="5" name="user_data" id="user_data"></textarea>
			</td>
		</tr>
		</tbody>
		</table>
	</fieldset>

        <br>

	<fieldset id="network_service_monitor_field" class="with_border">
	  <legend><%= t("dialog.launch_instance.network_service_monitor.title") %></legend>
          <table>
            <tbody>
            <tr>
              <td><%= t("dialog.launch_instance.network_service_monitor.monitoring_enabled")%>:</td>
              <td><input type="checkbox" id="monitoring_enabled"></input></td>
            </tr>
            <tr>
              <td><%= t("dialog.launch_instance.network_service_monitor.mailaddr")%>:</td>
              <td><input type="text" id="mailaddr_0" class="mailaddr_form" disabled></input></td>
            </tr>
            <tr>
              <td></td>
              <td><input type="text" id="mailaddr_1" class="mailaddr_form" disabled></input></td>
            </tr>
            <tr>
              <td></td>
              <td><input type="text" id="mailaddr_2" class="mailaddr_form" disabled></input></td>
            </tr>
            </tbody>
          </table>
	  <table style="width: 100%;">
            <thead>
              <tr>
                <th style="width: 20%;"><%= t("dialog.launch_instance.network_service_monitor.list_headers.protocol") %></th>
                <th style="width: 60%;"><%= t("dialog.launch_instance.network_service_monitor.list_headers.parameters") %></th>
                <th style="width: 10%;"><%= t("dialog.launch_instance.network_service_monitor.list_headers.enabled") %></th>
                <th style="width: 10%;"></th>
              <tr>
            </thead>
              <script id="monitor_selector_tmpl" type="text/x-jquery-tmpl">
	      <tr id="monitor_item_${idx}">
	        <td>
                  <select class="select_monitor_proto" name="monitor_item[${idx}][title]">
	            {{each(index,item) itemlist}}
                    <option value="${index}">${item.title}</option>
                    {{/each}}
                  </select>
                </td>
                <td class="detail_input">
                </td>
                <td class="check_enable">
                  <input type="checkbox" class="enabled" value="true" checked></input>
                </td>
                <td style="align: right;">
                  <button id="del_monitor_item_${idx}" class="del_monitor_item">-</button>
                </td>
	      </tr>
              </script>
	    <tbody id="monitor_item_list">
	    </tbody>
            <tfoot>
              <tr>
	        <td colspan="4"><button id="add_monitor_item">+</button></td>
	      </tr>
            </tfoot>
	  </table>
	</fieldset>
</div>
