<div id="poweroff_load_balancer_dialog">
  <div class="message">
    <p><%= t("dialog.poweroff_load_balancer.message") %></p>
  </div>
  <table id="load_balancer">
    <tr>
      <td><%= t("dialog.poweroff_load_balancer.load_balancer_id") %></td>
      <td class="load_balancer_id"><%= @load_balancer_id %></td>
    </tr>
    <tr>
      <td class="border"><%= t("dialog.poweroff_load_balancer.display_name") %></td>
      <td class="border"><%= @display_name %></td>
    </tr>
  </table>
</div>
